@font-face {
  font-family: 'MyWebFont';
  font-style: normal;
  font-weight: normal;
  src: url('American\ Donuts.ttf');
}

.hudson{
  font-family: MyWebFont;
  font-weight: bold;
  letter-spacing: 8px;
  color: #0ccac4;
}