@font-face {
  font-family: 'MyWebFont';
  font-style: normal;
  font-weight: normal;
  src: url('Pokemon\ Hollow.woff');
}

.hudson{
  font-family: MyWebFont;
  font-weight: bold;
  letter-spacing: 8px;
  color: yellow;
}